<center>
<img src="icon_128.png">
<div class="wide">
	Kodi status
</div>
<p>
	Current Kodi status: <span id="kodistarted" style="font-weight:bold">Checking...</span>
</p>
<div>
<button class="ui-btn ui-btn-inline" id="startkodi" onclick="$('#kodistarted').text('Please wait...');service('kodi', 'start')">Start Kodi</button>
<button class="ui-btn ui-btn-inline" id="stopkodi" onclick="$('#kodistarted').text('Please wait...');service('kodi', 'stop')">Stop Kodi</button>
<button class="ui-btn ui-btn-inline" id="restartkodi" onclick="$('#kodistarted').text('Please wait...');service('kodi', 'restart')">Restart Kodi</button>

</div>
<span id="startstopkodi"></span>

<label>
        <input type="checkbox" id="kodiautostart" disabled="disabled">Start Kodi on LoxBerry startup
</label>
<br>


<div class="wide">
	Codec Licenses
</div>
<h2>Codec Status</h2>
<p>
Raspberry Serial: <span id="piserial" style="font-weight:bold">Checking...</span><br>
<p>
MPEG-2 license: <span id="licmpeg2status" style="font-weight:bold">Checking...</span><br>
VC-1 license: <span id="licvc1status" style="font-weight:bold">Checking...</span><br>
<a href="http://www.raspberrypi.com/license-keys/">Buy codec licenses</a>
</p>
<form>
<div class="ui-field-contain">     
	 <label for="licmpeg2">Raspberry MPEG-2 license key <span id="licmpeg2resp"></span></label>
     <input type="text" name="licmpeg2" id="licmpeg2" data-mini="true" value="" placeholder="Enter MPEG-2 license key">
	 
</div>
<div class="ui-field-contain">     
     <label for="licvc1">Raspberry VC-1 license key <span id="licvc1resp"></span></label>
     <input type="text" name="licvc1" id="licvc1" data-mini="true" value="" placeholder="Enter VC-1 license key">
</div>
<p>
	After entering the license keys, you have to reboot LoxBerry to enable the licenses.
</p>
</form>

</center>


<script>
var vars = {};

$(document).on('pageinit', function() {

	query_status();
	
	$( ":input" ).blur(function(e){change_value("change", e.target.id, $(this).val())});
	$( "input[type='checkbox']" ).change(function(e){change_value("change", e.target.id, $(this).prop("checked"))});

	$( ":input" ).focusin(function(e){ 
		vars['old' + $(this).attr("id")] = $(this).val();
		var respid = $(this).attr("id")+"resp";
		$("#"+respid).text("");
		$("#"+respid).css("color", "");
		
	});

});


function change_value (action, key, value)
{
	console.log("Action is", action, "Key is", key, "Value is", value);
	if (vars['old' + key] === value) {
		console.log("Nothing changed.");
		return;
	}

	url = "ajax.cgi";
	var posting = $.post( url, { 	action: action,
					key: key,
					value: value,
				 });
	posting.done(function(data){
				console.log("Data:", data.key, "Error", data.error);
				$("#" + data.key + "resp").css("color", "green");
				$("#" + data.key + "resp").text("Successfully saved");
			 });
	posting.error(function(data){
				console.log("Data:", data.key, "Error", data.error);
				$("#" + data.key + "resp").css("color", "red");
				$("#" + data.key + "resp").text("Error writing");
			 });

}

function query_status()
{
	url = "ajax.cgi";
	$.post( url, { action: "query"})
	.done(function(data){
		console.log("Response", data);
		$("#piserial").text(data.piserial);
		$("#licmpeg2status").text(data.mpeg2status);
		$("#licvc1status").text(data.vc1status);
		
		if(data.mpeg2status === "enabled")
			$("#licmpeg2status").css("color", "green");
		else
			$("#licmpeg2status").css("color", "red");
		
		if(data.vc1status === "enabled")
			$("#licvc1status").css("color", "green");
		else
			$("#licvc1status").css("color", "red");
		
		if(data.kodistarted === "1") {
			$("#kodistarted").css("color", "green");
			$("#kodistarted").text("Running");
		} else {
			$("#kodistarted").css("color", "red");
			$("#kodistarted").text("Stopped");
		}
		
		$("#licmpeg2").val(data.mpeg2lic);
		$("#licvc1").val(data.vc1lic);
		
		if(data.kodiautostart === "1") 
			$("#kodiautostart").attr("checked", true).checkboxradio("refresh");
		$("#kodiautostart").checkboxradio('enable');
		
	
	});

}

function service(key, value)
{
$.post( url, { action: "service", key: key, value: value})
	.done(function(data){
		query_status();
		console.log("Response", data);
	})
	.error(function(data){
		query_status();
		$("#startstopkodi").text("Could not start/stop service");
	});

}


</script>
